@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

body{
    background-image: linear-gradient(white, grey);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin-top: 10px;
    font-size: 54px;
    color: rgb(28, 21, 21);
    text-align: center;
}

.Box-1, .Box-2, .Box-3, .Box-4{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 400;
    flex-wrap: wrap;
    align-items: center;
}

.box1, .box2, .box3, .box4, .box5, .box6{
    height: 200px;
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 62px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.box1{
    background-color: rgb(153, 48, 48);
    animation-name: Skew-X;
}

@keyframes Skew-X{
    0%{
        transform: skewX(0deg);
    }
    25%{
        transform: skewX(20deg);
    }
    50%{
        transform: skewX(0deg);
    }
    75%{
        transform: skewX(-20deg);
    }
    100%{
        transform: skewX(0deg);
    }
}


.box2{
    background-color: rgb(35, 236, 236);
    /* margin: 62px; */
    animation-name: Skew-Y;
}

@keyframes Skew-Y{
    0%{
        transform: skewY(0deg);
    }
    25%{
        transform: skewY(20deg);
    }
    50%{
        transform: skewY(0deg);
    }
    75%{
        transform: skewY(-20deg);
    }
    100%{
        transform: skewY(0deg);
    }
}

.box3{
    background-color: yellowgreen;
    animation-name: Rotate;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
}
@keyframes Rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box4{
    background-color: blueviolet;
    animation-name: Scale-Y;
}
@keyframes Scale-Y{
    0%{
        transform: scaleY(100%);
    }
    50%{
        transform: scaleY(30%);
    }
    100%{
        transform: scaleY(100%);
    }
}

.box5{
    background-color: brown;
    animation-name: Scale-X;
}
@keyframes Scale-X{
    0%{
        transform: scaleX(100%);
    }
    50%{
        transform: scaleX(30%);
    }
    100%{
        transform: scaleX(100%);
    }
}

.box6{
    background-color: green;
    animation-name: Rotate;
}
@keyframes Rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(100deg);
    }
}

.box1, .box2, .box3, .box4, .box5, .box6{
    transition: 1s ease-in-out;
}
.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover{
    background-color: black;
}
    
.loading{
    height: 55px;
    width: 55px;
    border: 5px solid rgb(241, 81, 81);
    border-radius: 50%;
    border-top: 5px solid blue;
    margin: 10px auto;
    animation: loading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

a img{
    height: 100px;
    align-items: center;
}
